@let data = users$ | async;

@if (data) {
  <nz-table
    #table
    [nzData]="data"
    nzSize="middle"
    nzTableLayout="fixed"
    [nzTotal]="data.length"
    nzShowSizeChanger="true"
    [nzPageSizeOptions]="[5, 10, 20, 30, 40]"
  >
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (data of table.data; track data.id) {
        <tr>
          <td>{{ data.firstName }}</td>
          <td>{{ data.lastName }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.roles }}</td>
          @if (currentUser && currentUser.id !== data.id) {
            <td class="action">
              <button
                nz-button
                nzType="primary"
                nzSize="small"
                (click)="showCreateUpdateModal(data, false)"
              >
                <nz-icon nzType="edit" nzTheme="fill" />
              </button>
              <nz-divider nzType="vertical"></nz-divider>
              <button
                nz-button
                nzDanger
                nzType="primary"
                nzSize="small"
                (click)="showDeleteModal(data.id!)"
              >
                <nz-icon nzType="delete" nzTheme="fill" />
              </button>
            </td>
          }
        </tr>
      }
    </tbody>
  </nz-table>
}
