@let data = products$ | async;
@if (data) {
  <nz-table #table [nzData]="data" nzTableLayout="fixed" nzShowSizeChanger="true" [nzTotal]="data.length" nzSize="middle">
    <thead>
      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      @for (data of table.data; track data) {
        <tr>
          <td>{{ data.title }}</td>
          <td>{{ data.category }}</td>
          <td>{{ data.price }}</td>
        </tr>
      }
    </tbody>
  </nz-table>
}
