nz-tag {
  font-size: medium;
  &:hover {
    cursor: pointer;
    background-color: rgb(200, 200, 200);
  }
}

nz-divider::after,
nz-divider::before {
  border-color: black !important;
}

.loader {
  width: 100%;
  align-content: center;
}


