<div class="register-container">
  <div class="register-form">
    <form nz-form (ngSubmit)="register()" #form="ngForm">
      <nz-form-item>
        <nz-form-control nzErrorTip="First name is required">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              placeholder="First name"
              name="firstname"
              [(ngModel)]="registerForm.firstName"
              required
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Last name is required">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              placeholder="Last name"
              name="lastname"
              [(ngModel)]="registerForm.lastName"
              required
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="emailErrorTemplate">
          <nz-input-group nzPrefixIcon="mail">
            <input
              email
              nz-input
              placeholder="Email"
              name="email"
              [(ngModel)]="registerForm.email"
              #email="ngModel"
              required
            />
          </nz-input-group>
          <ng-template #emailErrorTemplate>
            @if (email.errors?.required) {
              Email is required
            }
            @if (email.errors?.email) {
              Entered email is not valid
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="User name is required">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              placeholder="User name"
              name="username"
              [(ngModel)]="registerForm.username"
              required
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="passwordErrorTemplate">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              placeholder="Password"
              name="password"
              [(ngModel)]="registerForm.password"
              #password="ngModel"
              required
              minlength="6"
            />
          </nz-input-group>
          <ng-template #passwordErrorTemplate>
            @if (password.errors?.required) {
              Password is required
            }
            @if (password.errors?.minlength) {
              Password should have at least 6 characters
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <button
        nz-button
        class="register-button"
        [nzType]="'primary'"
        [disabled]="!form.valid"
      >
        Register
      </button>
    </form>
  </div>
</div>
