.login-form {
  width: 15vw;
  height: 10vw;
}

.login-form-button {
  width: 100%;
}

.container {
  height: 93vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nz-alert {
  margin-top: 1vh;
}
