<div class="container">
  <div class="login-form">
    <form nz-form (ngSubmit)="login()" #form="ngForm">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              placeholder="Username"
              name="username"
              [(ngModel)]="loginForm.username"
              required
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              placeholder="Password"
              name="password"
              [(ngModel)]="loginForm.password"
              #password="ngModel"
              required
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button
        nz-button
        class="login-form-button"
        [nzType]="'primary'"
        [disabled]="!form.valid"
      >
        Log in
      </button>
      @if (error) {
        <nz-alert
          nzType="error"
          [nzMessage]="error"
        ></nz-alert>
      }
    </form>
  </div>
</div>
