<div class="main-container">
  <div class="search-container">
    <div class="search-bar">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input
          type="text"
          nz-input
          placeholder="Search by name or description"
          [ngModel]="searchRequest.query"
          (ngModelChange)="onSearchQueryChange($event)"
        />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch>
          <nz-icon nzType="search" />
        </button>
      </ng-template>
    </div>
  </div>
  <div class="sub-container">
    @let page = products!;
    <div class="sidebar">
      @for (facet of facets; track $index) {
        <app-product-facet
          [facet]="facet"
          (selectedOptions)="selectedOptionsChanged($event)"
        ></app-product-facet>
      }
    </div>
    @if (page) {
      @if (page.content.length > 0) {
        <div class="products-container">
          @for (product of page?.content; track product.id) {
            <app-product [view]="productView" [product]="product"></app-product>
          }
          <div class="items-pagination">
            <nz-pagination
              [nzPageIndex]="page.number + 1"
              [nzTotal]="page.totalElements"
              [nzPageSize]="page.size"
              nzShowSizeChanger
              (nzPageIndexChange)="pageChanged($event)"
              (nzPageSizeChange)="numberOfItemsChanged($event)"
            ></nz-pagination>
          </div>
        </div>
      } @else {
        <div class="empty-page">
          <nz-empty
            nzNotFoundImage="simple"
            nzNotFoundContent="No products found for specified criteria"
          ></nz-empty>
        </div>
      }
    }
  </div>
</div>
