<div class="header">
  <div class="logo">ShopApp</div>
  <div class="items">
    @if (!isAuthenticated) {
      <div class="item" routerLink="/login">
        <nz-icon nzType="login" nzTheme="outline" />
        Log in
      </div>
      <div class="item" routerLink="/register">
        <nz-icon nzType="user-add" nzTheme="outline" />
        Register
      </div>
    } @else {
      <div
        class="item"
        nz-dropdown
        [nzDropdownMenu]="profileMenu"
        nzTrigger="click"
        (click)="getCurrentUser()"
      >
        <nz-avatar nzIcon="user"></nz-avatar>
        <nz-icon nzType="down" nzTheme="outline" />
      </div>
      <nz-dropdown-menu #profileMenu="nzDropdownMenu">
        <div class="profile-content">
          @if (isLoading) {
            <nz-spin class="spinner" nzTip="Loading..." nzSize="large"></nz-spin>
          } @else {
            <div class="user-email">{{ currentUser?.email }}</div>
            <div class="avatar">
              <nz-avatar nzIcon="user" nzSize="large"></nz-avatar> Hello,
              {{ currentUser?.name }}
            </div>
            <button
              class="log-out-button"
              nz-button
              nzType="primary"
              nzBlock
              (click)="logout()"
            >
              Log out
            </button>
          }
        </div>
      </nz-dropdown-menu>
    }
  </div>
</div>
