<div class="header">
  <div class="logo" routerLink="/">ShopApp</div>
  <div class="items">
    @if (currentUser == null) {
      <div class="item" routerLink="/login">
        <nz-icon nzType="login" nzTheme="outline" />
        Log in
      </div>
      <div class="item" routerLink="/register">
        <nz-icon nzType="user-add" nzTheme="outline" />
        Register
      </div>
    } @else {
      @if (isAdmin()) {
        <div class="item" routerLink="/admin">Admin panel</div>
      }
      <div class="item" routerLink="/product">Products</div>
      <div
        class="item"
        nz-dropdown
        [nzDropdownMenu]="profileMenu"
        nzTrigger="click"
      >
        <nz-avatar nzIcon="user"></nz-avatar>
        <nz-icon nzType="down" nzTheme="outline" />
      </div>
      <nz-dropdown-menu #profileMenu="nzDropdownMenu">
        <div class="profile-content">
          <div class="user-email">{{ currentUser.email }}</div>
          <div class="avatar">
            <nz-avatar nzIcon="user" nzSize="large"></nz-avatar> Hello
            {{ currentUser.firstName }} {{ currentUser.lastName }}
          </div>
          <button
            class="log-out-button"
            nz-button
            nzType="primary"
            nzBlock
            (click)="logout()"
          >
            Log out
          </button>
        </div>
      </nz-dropdown-menu>
    }
  </div>
</div>
