@let data = users$ | async;

<div class="chat-container">
  <div class="user-panel">
    <nz-select
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select a person"
      [nzLoading]="data === null"
      [(ngModel)]="selectedUser"
      [nzOptionHeightPx]="50"
      (ngModelChange)="userChanged()"
    >
      @for (item of data; track item.id) {
        @if (item.id !== loggedInUser!.id) {
          <nz-option
            nzCustomContent
            [nzLabel]="item.firstName.concat(' ', item.lastName)"
            [nzValue]="item"
          >
            <nz-avatar
              nzShape="square"
              [nzSize]="50"
              [nzSrc]="item.avatar"
              nzIcon="user"
            ></nz-avatar>
            {{ item.firstName }} {{ item.lastName }}
          </nz-option>
        }
      }
    </nz-select>

    <nz-list nzBordered="true">
      @for (item of chatHistory; track item.chatId) {
        <nz-list-item
          (click)="selectChatUser(item.user)"
          [class.item-focus]="selectedUser && selectedUser.id === item.user.id"
        >
          <nz-list-item-meta
            [nzAvatar]="
              item.user.avatar! != null ? item.user.avatar : avatarTemplate
            "
            [nzTitle]="item.user.firstName.concat(' ', item.user.lastName)"
          ></nz-list-item-meta>
          <ng-template #avatarTemplate>
            <nz-avatar nzIcon="user"></nz-avatar>
          </ng-template>
        </nz-list-item>
      }
    </nz-list>
  </div>
  <div class="right-panel">
    <div class="chat-content">
      @if (currentChat !== undefined && selectedUser !== undefined) {
        @for (item of currentChat.messages; track $index) {
          <div
            class="message"
            [class.text-right]="item.senderId === loggedInUser?.id"
          >
            {{ item.content }}
          </div>
        }
      }
    </div>

    <div>
      <div class="chat-input">
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
          <input
            type="text"
            [disabled]="this.selectedUser === undefined"
            nz-input
            placeholder="Write a message"
            [(ngModel)]="message"
            (keyup.enter)="sendMessage(message)"
          />
        </nz-input-group>
        <ng-template #suffixButton>
          <button
            nz-button
            nzType="primary"
            nzSize="large"
            nzSearch
            [disabled]="message.trim().length === 0"
            (click)="sendMessage(message)"
          >
            <nz-icon nzType="send" />
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
