.chat-container {
  display: flex;
  margin: 4vw;
  width: 90%;
  height: 80%;
  border: solid 1px;
}

.user-panel {
  width: 15vw;
  height: 100%;
  border-right: solid 1px;
  nz-select {
    width: 100%;
  }
}

.right-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat-content {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 1vh 2vw;
  margin-top: 1vw;
  overflow: auto;
  flex-direction: column-reverse;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.message {
  background-color: rgb(236, 234, 234);
  margin-left: 5px;
  margin-right: 5px;
  padding: 1.1vh;
  width: max-content;
}

.text-right {
  align-self: flex-end;
}

nz-list-item {
  &:hover {
    cursor: pointer;
    background-color: #e7e7e7;
  }
}

.item-focus {
  background-color: #e7e7e7;
}
