.main-container {
  height: 93vh;
  width: 100%;
}

.search-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.search-bar {
  width: 20%;
}

.sub-container {
  display: flex;
  width: 100%;
  height: 88vh;
}

.sidebar {
  width: 15%;
  height: 100%;
}

.products-container {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  height: 88vh;
  width: 85%;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  width: 17vw;
  height: 34vh;
  margin: 1vh;
}

.product-image{
  display: flex;
  height: 80%;
  width: 100%;
  position: relative;
}

.product-extra {
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 100%;
}
