<ng-template #productTemplate>
  @if (view() === ProductView.HOME) {
    <div class="home-product" (click)="selectProduct(product()!)">
      <h3>{{ product().title }}</h3>
      <nz-carousel nzAutoPlay nzEnableSwipe="false" nzDots="false">
        @for (image of product().images; track $index) {
          <div nz-carousel-content>
            <img [ngSrc]="image" fill priority />
          </div>
        }
      </nz-carousel>
    </div>
  } @else {
    <div class="product-container" (click)="selectProduct(product())">
      <div class="product-image">
        <img [ngSrc]="product().thumbnail" fill/>
      </div>
      <div class="product-extra">
        <div>{{ product().title }}</div>
        <div>
          {{ product().price }} $
          <nz-rate
            [ngModel]="product().rating"
            nzDisabled
            nzAllowHalf
          ></nz-rate>
        </div>
      </div>
    </div>
  }
</ng-template>

<ng-container [ngTemplateOutlet]="productTemplate"> </ng-container>
