.best-products {
  display: flex;
  height: 40vh;
  margin-top: 2vh;
  column-gap: 2vw;
  :hover {
    cursor: pointer;
    background-color: whitesmoke;
  }
}

.home-category {
  height: 37vh;
  margin-top: 4vh;
}

.category-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10vh;
}